<h1>SpaceCat Form</h1>
<form action="/spacecat" method="POST">

  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name"/>

  <label for="POST-home">Home:</label>
  <input id="POST-home" type="text" name="home"/>

  <label for="POST-planet">Planet:</label>
  <input id="POST-planet" type="text" name="planet"/> 

  <label for="POST-tagline">Tagline:</label>
  <input id="POST-tagline" type="text" name="tagline"/>

  <label for="POST-superpower">Superpower:</label>
  <input id="POST-superpower" type="text" name="superpower"/


  <button type="submit" value="Submit">Submit</button>
</form>